// ==================================================================
// 	File Name: variables.scss
// 	Description: Html tags/elements, typography color variables file
// 				 related customiztion.
// ==================================================================

/** *************
	Colors
	**************/
$main-text: #7f8c97; // Main text
$link: #acb7c0; // Anchor tags
$background: #e9f0f5; // Body background color

$color-1: #383838;
$color-2: #7b9d6f;
$color-3: #ffffff;
$color-4: #f8f8f8;
$color-5: #f0ca45;
$color-6: #75ce66;