// ===============================================
// 	File Name: gradient-variables.scss
// 	Description: Gradient variables file for chart
// ===============================================
$dashboard1-gradient-path: '/dashboard/dashboard1';
$dashboard2-gradient-path: '/dashboard/dashboard2';
$chartist-gradient-path: '/charts/chartist';